<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<title> Registration Page </title>
</head>
<body>

<form method="post" action="Register-Controller.php">

<table style="border: none">
<tr>
<td> Enter your name (Last, First) </td>
<td>
<input type="text" name="name"  />
</td>

</tr>
<tr>
<td> Enter your phone number in format (123) 456-7890 </td>
<td>

<input type="text" name="phone"  />
</td>
</tr>

<tr>
<td> Enter your city, state </td>
<td>
 <input type="text" name="city"  />
</td>
</tr>
<tr>
<td> Enter your zip code (5 digits) </td>
<td>
 <input type="text" name="zip" />
</td>
</tr>
<tr>
<td>
  <input type="submit" value="submit" />
</td>
</tr>
</table>
</form>

</body>
</html>